@font-face {
  font-family: "grifter";
  src: url("GRIFTER_Font_Family_(Fontmirror) (1)/GRIFTER Bold 700.otf");
  font-weight: 700;
}

@font-face {
  font-family: "inter";
  src: url("inter (1) family\Inter-Light-BETA.otf");
  font-weight: 400;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

main{
 padding-left: 42px;
}

h1,h2,h3,h4,h5,h6{
  font-family: 'grifter', sans-serif !important;
  font-weight: 700;
}


p{
  font-family: 'inter', sans-serif !important;

}
a {
  text-decoration: none;
  color: inherit;
}

nav {
  padding: 24px 80px 24px 80px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  border-bottom: 1px solid rgba(244, 244, 244, 1);
}

nav .links {
  display: flex;
  justify-content: center;
  gap: 3rem;
  font-size: 16px;
}

nav .links2 :nth-child(1) {
  margin-right: 1rem;
}

nav .links2 :nth-child(2) {
  width: Hug (181px) px;
  height: Hug (46px) px;
  padding: 12px 24px 12px 24px;
  gap: 8px;
  border-radius: 1000px;
  opacity: 0px;
  background: rgba(239, 66, 57, 0.1);
  color: rgba(239, 66, 57, 1);
}




.menu-btn_burger{
  display: none;
  width: 30px;
  height: 6px;
  background:black;
  border-radius: 5px;
  transition: all .5s ease-in-out;
  cursor: pointer;
  margin-right: 5px;
 
}

.menu-btn_burger::before, 
 .menu-btn_burger::after{
  content: ' ';
  position: absolute;
  width: 30px;
  height: 6px;
  background: black;
  border-radius: 5px;
  transition: all .5s ease-in-out;
}


.menu-btn_burger::before{
  transform: translateY(-10px);
}


.menu-btn_burger::after{
  transform: translateY(10px);
}
 .menu-btn_burger.open {
  background: transparent;
}

.menu-btn_burger.open::before{
  transform: rotate(45deg) ;
}
.menu-btn_burger.open::after{
  transform: rotate(-45deg) ;
}

.toggle-menu {
  position: absolute;
  z-index: 1;
  display: none;
  justify-content: center;
  align-items: center;
  background-color: hsla(0, 0%, 0%, 0.553);
  height: 0vh;
  width: 100%;
  padding: 20px;
  transition: height 2s;

  .links a, .links2 a{
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   color: #fff;
   margin-top: 1rem;
 
 
   } 
    }

    .links a:hover{
      transform: scale(1.6);
   
    }
      
 .links2 a:hover{
 transform: scale(1.6);
 
   } 
    
 .toggle-menu .links2 :nth-child(2) {
  width:150px;
  height: 46 px;
  padding: 12px 12px 12px 12px;
  transform: translateX(100px);
  gap: 8px;
  border-radius: 1000px;
  opacity: 0px;
  background: rgba(239, 66, 57, 1);
  color: white;
}
 
.hero-section {
  padding-left: 30px;
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
}

.hero-text {
  margin-top: 2rem;
}

.Supercharge {
  font-size: 56.72px;
  font-weight: 700;
  line-height: 68.06px;
  text-align: left;
}
.row-redifine{
  display: grid;
  grid-template-columns: repeat(3,1fr);
}
.MedixTrak {
  width: 335px;
  height: 57.02 px;
  top: 331px;
  left: 223px;
  gap: 5.67px;
  border-radius: 4px 0px 0px 0px;
  opacity: 0px;
  background: rgba(239, 66, 57, 0.1);
  color: rgba(239, 66, 57, 1);
  font-family: 'grifter', sans-serif;
  padding: 0 8.51px;
}

.MedixTrak-text {
  font-family:'inter' sans-serif;
  font-size: 18px;
  font-weight: 300;
  line-height: 27px;
  text-align: left;
  margin-top: 36px;
  margin-bottom: 41px;
 color: rgb(135, 132, 132);

}

.hero-account {
  display: flex;
}
.round-border{
  width: 40px;
  height: 40px;
  text-align: center;
  padding-top: 9px;
  border: 1px solid;
  border-radius: 50%;
  cursor: pointer;
}
.Create {
  width: Hug (181px) px;
  height: Hug (54px) px;
  padding: 16px 24px 16px 24px;
  gap: 8px;
  border-radius: 1000px;
  opacity: 0px;
  background: rgba(239, 66, 57, 1);
  color: white;
}

.sign {
  width: Hug (106px) px;
  height: Hug (54px) px;
  padding: 16px 24px 16px 24px;
  gap: 8px;
  border-radius: 1000px 0px 0px 0px;
  opacity: 0px;
}

.empowering {
  margin-top: 2rem;
  color: rgba(89, 89, 89, 1);
}
.empowering :nth-child(1){
  margin-bottom: 16px;
}
.patient {
  margin-left: 50px;
  margin-top: 6rem;
}

.for-patient {
  font-size: 48px;
  font-weight: 700;
  line-height: 57.6px;
  text-align: left;
}

.patient-text {
  color: rgba(89, 89, 89, 1);
  font-size: 16px;
  font-weight: 400;
  line-height: 27px;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.overall-card {
  display: flex;
  justify-content: space-evenly;
  width:  281px ;
  height: 404px ;
  gap: 24px;
  margin-right: 4rem;
}

.Frequently{
font-size: 48px;
font-weight: 700;
line-height: 57.6px;
text-align: left;

}

.card-body {
  width: 340px ;
  height: 112px ;
  gap: 18px;
  opacity: 0px;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.card-title {
  font-size: 24px;
  margin-top: 18px;
  margin-bottom: 18px;
  font-weight: 700;
  line-height: 32.4px;
  text-align: left;
  color: rgba(19, 2, 2, 1);
}

.card-text {
  color: rgba(89, 89, 89, 1);
  font-size: 16px;
  font-weight: 400;
  font-family: 'inter', sans-serif;
  margin-bottom: 40px;
}

.card-link {
  width: 113px ;
  height: 54px;
  margin-bottom: 100px;
  padding: 16px 24px 16px 24px;
  border-radius: 1000px;
  opacity: 0px;
  color: white;
  background: rgba(239, 66, 57, 1);
}

.card-link-sign{
  width: 113px ;
  height: 54px;
  margin-bottom: 150px;
  padding: 16px 24px 16px 24px;
  border-radius: 1000px;
  opacity: 0px;
  color: white;
  background: rgba(239, 66, 57, 1);
}
.for-Hospital {
  margin-left: 50px;
  margin-top: 100px;
}

.new-card {
  display: flex;
 gap: 17rem;
  justify-content: space-around;
  margin-top: 2rem;
  margin-right: 20rem;
}
.for-doctors{
margin-top: 100px;


}
.brown{
  position: absolute;
  height: 150vh;
  width: 100%;
 left: 0;
}
.card1{
  width: 414.42px;
  height: 333.04px;
  left: 432.42px;
  gap: 0px;
  border-radius: 15.91px ;
  opacity: 0px;
  background: rgba(246, 246, 246, 1);
  padding: 31px;

}
.row-staff {
  margin-top: 4rem;
  margin-bottom: 4rem;
}

.andmore {
  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 48px;
  font-weight: 700;
  line-height: 57.6px;
  text-align: center;
}

.staff {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  margin-top: 4rem;
  margin-bottom: 4rem;
}

.fam {
  font-size: 20px;
  font-weight: 700;
  line-height: 27px;
  text-align: left;
}

.row-redifine {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
padding-top:42px ;
  gap: 18px; 
  font-size: 20px;
  font-weight: 700;
  line-height: 27px;
  text-align: left;
}

.row-redifine .card {
  border-radius: 15px;
  width: 414.42px;
  height: 303.04px;
  padding: 20px;

  background: white;
}

.accord{
  margin: 121px 81px 81px 102px;
}

.accordion-header {
  margin: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;

  h1{
    font-family:' Aeonik' sans-serif;
font-size: 24px;
font-weight: 500;
line-height: 33.6px;
text-align: left;

  }
  

}



.accordion-item {
  margin-bottom: 1rem;
}

.accordion-header {
  cursor: pointer;
   padding-top:1rem ;
  border-radius: 5px;
}

.accordion-content {
  padding: 1rem;
  border: 1px solid #ddd;
  border-top: none;
  border-radius: 0 0 5px 5px;
  background-color: #fff;
}

.accordion-header h1 {
  font-size: 1.25rem;
  margin: 0;
}


summary {
  list-style: none; 
  outline: none;    
}

summary::marker {
  display: none; 
}

details[open] summary::after {
  content:"-";   
  font-weight: bold;
  font-size: 20px;
}

summary::after {
  content: "+";
  float: right;
  font-weight: bold;
  font-size: 20px;
  width: 20px;
  padding: 5px;
  border-radius: 50%;
  border: 1px solid;
  transform: translateY(-10px);
  text-align: center;
}


.get-started {
  height: 80vh;
  padding: 30px;
  margin-bottom: 15rem;
  transform: translateY(500px);
}
.start {
  width: Fixed (1, 279px) px;
  height: 70vh;
  top: 5998px;
  left: 80px;
  padding: 100px 364px 100px 364px;
  gap: 40px;
  border-radius: 16px;
  opacity: 0px;
  background: rgba(249, 215, 215, 0.2);
  text-align: center;
}

.start-text{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center
}

.start-text h1 {
  font-size: 48px;
  font-weight: 700;
  line-height: 50.16px;
  text-align: center;
}
.start-text .span {
  background: rgba(239, 66, 57, 0.1);
  color: rgba(239, 66, 57, 1);
  width: fit-content;

  
}
.Redefining{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;


  span{
    color:  rgba(252, 75, 55, 1);
  
  }
}

.Redefining-h1{
  margin-top: 86px;
  color: #fff;
  font-size: 48px;
  width: 610px;
  line-height: 50px;
}
.start-text p {
  font-size: 18px;
  font-weight: 400;
  margin-top: 27px;

  color: rgba(89, 89, 89, 1);
  margin-bottom: 3rem;

}

.start-link {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 10px;
  margin-left: 1rem;
}
.MedixTrak-p{
 font-weight: 400;
}
.start-link .gt-start {
  width: 133px px;
  height: 56px px;
  padding: 16px 22px 16px 22px;
  gap: 10px;
  color: white;
  border-radius: 32px;
  opacity: 0px;
  background: rgba(252, 75, 55, 1);
}
.start-link .signup {
  width: Hug (184px) px;
  height: Hug (56px) px;
  padding: 16px 22px 16px 22px;
  border-radius: 32px ;
  border: 1px  solid;
  opacity: 0px;
  background: transparent;
}



footer {
    height: fit-content;
  
}

.first-footer {
  display: flex;
    justify-content: space-between;
    align-items: flex-start;
    max-width: 1200px; 
    transform: translateY(300px);
    margin-left: 2rem;
}

.foot{
  display: flex;
  gap: 9rem;
    justify-content: space-between;
}

.first-footer p {
  font-family:'inter', sans-serif;
  font-size: 17px;
  font-weight: 300;
  margin-top: 21.18px;
  text-align: left;
  color: rgb(172, 168, 168);

  
}

.first-footer ul{
  width: 126px;
height: 159px;
gap: 50px;


}

.first-footer ul li {
    list-style: none; 
    padding-left: 0;
    margin-top: 21px;
    color: rgb(148, 145, 145);

}

.first-footer h4 {
  
    margin-bottom: 15px; 
}



.first-footer li img {
    max-width: 20px;
    vertical-align: middle;
    margin-right: 10px; 
}


.second-footer {
    text-align: center; 
    transform: translateY(400px);
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 60px;
    font-size: 17px; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    color:  rgba(139, 139, 139, 1);
}
@media only screen and (min-width:500px)  and (max-width:768px) {
 
  .links{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
  }
   main{
    padding: 0;
   }
  .menu-btn_burger{
    display: block;
  }
  .toggle-menu{
    height: 44vh !important;
    transition: all 1s ease-in-out;
  }
 
.toggle-menu .links2 :nth-child(2) {
  transform: translateX(200px);
}
    nav{
   padding: 10px;
  }
  .MedixTrak{
    padding: none;
  }
  .links a, .links2 a{
    display: none;
  }
    .hero-section{
    height: fit-content;
    flex-direction: column;
    gap: 4rem;
   align-items: start;
   width: 100%;
   padding: 0;
  }
 
  .hero-text{
    margin-top: 0;
    margin-left: 25px;
  }
  .Supercharge{
    font-size: 30px;
    line-height: 2.5rem;
  }
  .hero-img{
    width: 100%;
  
  }
  .hero-img img{
   width: 100%;
transform: translateY(-50px);

  }
  .patient-text{
   margin-left: 1rem;
    padding-right: 3rem;
  }
  
  .empowering img{
    width: 299px;
  }
  
    .patient{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    margin: 0;
   
  }
    .for-Hospital{
    padding: 0;
  
  }
    .new-card{

      height: 60vh;
      width: 100%;
    gap: 4px;
      padding-left: 50px;
  
      justify-content: center;
  }

  .new-card .card{
    margin: 0;

  }
  .for-doctors{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: fit-content;
   margin: 0;
   
    
  }
  
    #for-Hospital{
    height: 100vh;
  
   
   }
   .for-Hospital{
    margin-top: 3rem;
    margin-left: 0;
   }
  .first{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .first :nth-child(2){
    margin-left: 1rem;
  }
    .overall-card{
      position: relative;
    height: 100vh;
    width: 90vw;
    gap: 1px !important;
    flex-wrap: wrap;
    margin-right: 0;
    padding: 0;
   
   }
   .overall-card :nth-child(3){
    transform: translateY(0px);
   }
   .card{
   margin-top: 2rem;
    flex-wrap: wrap;

    width: 14rem;
  
    margin-right: 0;
     margin-right: 2rem; 
   }

   #Telehealth{
    position: absolute;
    top: 29rem;
    left: 1rem; 
   }
   .card img{
    width: 250px;
  
   }
.card-title{
  font-size: 12px;
}
   .card-text{
    font-size: 14px;
   }
    .row-staff{
      height: fit-content;
      margin-top: 0;
      
  
   }
   .andmore{
    font-size: 38px;
    line-height: 34px;
   }
   .staff{
  
    width: 100%;
    gap: 2rem;
    flex-wrap: wrap;
    /* transform: translateX(7rem); */
    overflow: hidden;
    justify-content: center;
    align-items: center;
  
   }
   .staff img{
    width: 15rem;
   }
 .brown{
  height: 180vh;
 }
    .accord{
transform:  translateY(1400px);
margin: 0;
   }
   
   .Frequently{
    font-size: 29px;
    margin-bottom: 2rem;
   }
    .row-redifine{
    /* overflow: scroll; */

    
  
   }

    
.card1{
  width:272px ;
  padding: 10px;
  flex-wrap: wrap;
 

  .card-title{
    font-size: 18px;
  }

}
   .accordion-item{
    width: 100%;
    
   }
   .accordion-header{
    padding: 0;
   }
  
   .accordion-content{
    padding: 5px;
    width: 100%;
   }
   .accordion-header h1{
   font-size: 18px;
   }

   
    .get-started{
      display: flex;
      flex-direction: column;
      align-items: center;
     
      padding :0; 
      transform: translateY(200vh);
       width: 100%;
       height: 100vh; 
   }
   .start{
    width: 100%;
    padding:100px 0 0 0;
   }
  
  
   .andmore{
    margin-top: 8rem;
   }
    footer{
    transform: translateY(110vh);
   }
   .first-footer{
    flex-direction: column;
    margin-top: 3rem;
    padding: 0;
    
   }
  
   .MedixTrak-p{
    margin-bottom: 2rem;
    margin-left: 0.5rem;
  
  
   }
  
   .second-footer{
    flex-direction: column;
    align-items: center;
    padding:0;
   height: 90px;
   transform: translateY(40vh);
 margin-top: 1rem;
  
   }
  .foot{
    display: flex;
    justify-content: space-between;
  }
  }
  

  @media only screen and (max-width:501px)  {
  
    
  nav{
    width: 100%;
    padding:18px 5px;
    
  }
    .links{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 1rem;
    }

    .links a {
      display: none;
    }
    
    .links2 a {
      display: none;
    }
     main{
      padding: 0;
     }
    .menu-btn_burger{
      display: block;
    }
    .toggle-menu{
      height: 44vh !important;
      transition: all 1s ease-in-out;
    }
   
  .toggle-menu .links2 :nth-child(2) {
    transform: translateX(120px);
  }
  .hero-section{
    display: block;
    padding: 10px;
    margin: 0;
  }

  .Supercharge{
    font-size: 25px;
    line-height: 28px;
  
  }
.card-title{
  font-size:30px ;
}

.card-body{
  width: 500px;
}

.card-text{
  font-size: 13px;
}
  .hero-img img{
    width: 385px;
  }
.for-doctors{
  transform: translateY(250px);
}
  .row-staff{
    transform: translateY(630px);
  }
.brown{
  transform: translateY(800px);
}
  .empowering img{
    width: 16px;
  }
  .patient{
  width: 420px;
  flex-wrap: wrap;
   margin-top: 1.9rem;
    margin-left: 0;
  }
.overall-card{
  width: 400px;
  display: block;
  /* overflow: hidden; */
  
}
.card{
  padding: 20px;
}
#Telehealth{
  transform: translateY(400px);
}
.card img{
width: 350px;
margin-top: 1rem;
}
.new-card{
  display: block;
  gap: 3rem;

  margin: 0;
}

  .for-Hospital{
    transform: translateY(500px);
    margin-left: 0;
  }
  .brown{
    height: fit-content;
    padding-bottom:1rem ;
    transform:  translateY(1280px);
  }
  .andmore{
    margin: 0;
    transform:  translateY(50px);
  }

  .accord{
    transform: translateY(3600px);
    margin: 0;
  }
  .staff{
    flex-direction: column;
  }
  .Redefining-h1{
    font-size: 35px;
    margin: 0;
    padding: 0;
  }
  .get-started {
    padding: 0;
    margin: 0;
    transform: translateY(3650px);
  }
.card1{
  overflow: hidden;
  flex-wrap: wrap;
 
}


  .start{
    padding: 0;
    width: 430px; 
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  footer{
    transform: translateY(3150px);
    margin-bottom: 1rem;
  }

  .first-footer{
    flex-direction: column;
    gap: 1rem;
  }

  .second-footer{
  display: none;

   }
  }